.chat-box{
  height: 69.5%;
  width: 70%;
  display:inline-block;
  margin: 0;
  border-radius: 0;
  overflow-y: auto;
}
.page-head{
  margin-bottom: 0px;
}
.user-box{
  background-color: #e0e0e0;
  width:30%;
  height: 79.5%;
  float: right;
  display:inline-block;
  margin: 0;
  border-radius: 0;
  padding: 0;
}
body{
  height: 100%;
  overflow: hidden;
}
.userFormArea{
  display:block;
  margin: auto;
  top:40%;
  position: relative;
}
#username{
  width:60vh;
  display: inline-block;
}
.display-none{
  display: none;
}
.user{
  width: 90vh;
}
.login{
  right: 70px;
  display: inline-block;
  float: right;
  position: relative;
}
.chat-app{
  height: 100%;
}
.new-user{
  color: green;
}
.type-box{
  background-color: #efefef;
  height: 10%;
  width: 70%;
  border-radius: 0;
  padding: 0;
}
.type-btn{
  float: right;
  position: relative;
  padding: 20px;
  top: 16px;
  right: 16px;
}
.user-box-header{
  height:6%;
  width:100%;
  background-color: #f2f2f2;
  text-align: center;
  padding: 12.5px;
}
html{
  height: 100%;
}
#message-box{
  width: 84%;
  height: 100%;
  display:inline-block;
}
